@{
    ViewData["Title"] = "About";
}

@model AlgorithmDescription

<h1>Algorithm Description</h1>

<p>@Model.Description</p>

@if (User.IsInRole("admin"))
{
    <a asp-action="Edit" asp-controller="About">Edit Description</a>
}